html {
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
    font-size: 16px;
}

/*Navbar*/
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #ffcf9c;
}

.logo-img {
    width: 50px;
    height: 50px;
}

nav {
    display: flex;
    align-items: center;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.menu li {
    margin-left: 15px;
}

.menu a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

.menu a:hover {
    color: #b96d40;
}

.btn {
    background-color: #ca054d;
    color: white;
    border: none;
    border-radius: 8px;
    height: 25px;
}

.btn:hover {
    opacity: 80%;
}

.content .RT {
    text-align: center;
    margin-top: 25px;
}

.content .PR {
    text-align: center;
    margin-top: 25px;
}

.card-body .button {
    background-color: #ffcf9c;
    color: #b96d40;
    border: none;
    border-radius: 8px;
    width: 215px;
    height: 30px;
    margin: 0;
}

.card-body .button:hover {
    opacity: 80%;
}

/*Home*/
.judul {
    margin-bottom: 120px;
}

.card-img:hover {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}

/* Hamburger button styles */
.menu-icon {
    cursor: pointer;
    display: none;
    font-size: 20px;
}

/*Akhir Home*/

/* Media Query */

@media (max-width: 768px) {
    /* html {
        font-size: 75%;
    } */

    .menu {
        display: none;
        flex-direction: column;
    }

    .menu li {
        margin: 10px 0;
    }

    .menu-icon {
        display: block;
    }

    #menu-toggle:checked ~ .menu {
        display: flex;
    }
}
