/* Color Pallete
#CA054D rose red
#3B1C32 dark purple
#A4D4B4 celadon
#FFCF9C sunset
#B96D40 brown sugar
 */

/* batas responsive */
/* Media Queries */
/* Laptop */
@media screen and (max-width: 1366px) {
    html {
        font-size: 75%;
    }
}

/* Tablet */
@media screen and (max-width: 768px) {
    html {
        font-size: 62.5%;
    }

    .navbar ul {
        width: 65%;
    }
}

/* Mobile */
@media screen and (max-width: 576px) {
    html {
        font-size: 55%;
    }

    nav ul {
        position: absolute;
        right: 0;
        top: 0;
        height: 100vh;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        z-index: -1;
        background-color: var(--bg);
        transform: translateX(100%);
    }

    nav ul.slide {
        transform: translateX(0);
    }

    main .hero {
        position: absolute;
        z-index: -2;
    }

    .navbar .menu-toggle {
        display: flex;
    }
}

:root {
    --primary: #b96d40;
    --bg: #ffcf9c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--bg);
    color: #fff;
    overflow-x: hidden;
}

/* Navbar start*/
nav {
    display: flex;
    height: 10vh;
    background-color: var(--bg);
    justify-content: space-around;
    padding: 0 20px;
    border-bottom: 1px solid var(--primary);
    align-items: center;
}

.logo {
    margin-right: auto;
}

.logo .logo-cookers {
    width: 65px;
    height: auto;
    margin-top: 4px;
}

nav ul {
    display: flex;
    list-style: none;
    width: 55%;
    justify-content: space-between;
    align-items: center;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-size: 1.4rem;
}

nav ul li a:hover {
    color: var(--primary);
}

nav ul li a::after {
    content: "";
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--primary);
    transform: scaleX(0);
    transition: 0.2s linear;
}

nav ul li a:hover::after {
    transform: scaleX(0.5);
}

.menu-list.tentang {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.navbar .btn-menu {
    display: inline-block;
    align-items: center;
    color: white;
    background-color: #CA054D;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
    font-weight: bold;
    cursor: pointer;
    padding: 10px 20px;
}

/* hamburger menu */
.menu-toggle {
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
    margin-left: 20px;
    margin-right: 20px;
}

.menu-toggle input {
    position: absolute;
    width: 40px;
    height: 28px;
    left: -5px;
    top: -5px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: white;
    border-radius: 3px;
    transition: all 0.5s;
}

/* hamburger menu animation */
.menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
}

.menu-toggle input:checked~span:nth-child(2) {
    transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked~span:nth-child(4) {
    transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toggle input:checked~span:nth-child(3) {
    transform: scale(0);
    opacity: 0;
}

/* Hero start */
.hero {
    min-height: 90vh;
    display: flex;
    align-items: center;
    background-image: url("../assets/bg-cookers.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-size: cover;
    background-position: center;
}

.hero .content {
    padding: 1.4rem 7%;
    max-width: 60rem;
}

.hero .content h1 {
    font-size: 5em;
    color: #CA054D;
    text-shadow: 2px 2px 3px rgba(1, 1, 3, 0.5);
    line-height: 1.2;
}

.hero .content h1 span {
    color: #ca054d;
}

.hero .content p {
    font-size: 1.6rem;
    margin-top: 1rem;
    line-height: 1.4;
    font-weight: 800;
    color: #fff;
    text-shadow: 2px 2px 3px rgba(1, 1, 3, 0.5);
}

/* button call to action */
.btn-call-to-action {
    margin-top: 15px;
    align-items: center;
    appearance: none;
    background-color: #CA054D;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #CA054D 0 -3px 0 inset;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-flex;
    font-family: "Poppins", sans-serif;
    font-weight: bolder;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
}

.btn:focus {
    box-shadow: #CA054D 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #CA054D 0 -3px 0 inset;
}

.btn:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #CA054D 0 -3px 0 inset;
    transform: translateY(-2px);
}

.btn:active {
    box-shadow: #CA054D 0 3px 7px inset;
    transform: translateY(2px);
}