<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Edit Resep</title>
        <link rel="stylesheet" href="edit-resep.css" />
    </head>
    <body>
        <header>
            <div class="container">
                <div class="logo">
                    <img
                        class="logo-img"
                        src="C:\Users\Asus\Downloads\The-Cookers\resources\views\home\home\img\logo.png"
                        alt=""
                    />
                </div>
                <nav>
                    <input type="checkbox" id="menu-toggle" />
                    <label for="menu-toggle" class="menu-icon">&#9776;</label>
                    <ul class="menu">
                        <li><a href="#">HOME</a></li>
                        <li><a href="#">RECEIPT</a></li>
                        <li>
                            <button class="btn">UPLOAD RECEIPT</button>
                        </li>
                        <li>
                            <button class="btn">PROFILE</button>
                        </li>
                    </ul>
                </nav>
            </div>

            <br />

            <div class="container2">
                <div class="foto-user">
                    <img
                        class="user-foto"
                        src="C:\Users\Asus\Downloads\The-Cookers\resources\views\edit resep\img\user.jpg"
                        alt=""
                    />
                </div>
                <nav>
                    <input type="checkbox" id="nav2-toggle" />
                    <label for="nav2-toggle" class="nav2-icon">&#9776;</label>
                    <ul class="nav2">
                        <li>
                            <button class="btn2">MY RECEIPT</button>
                        </li>
                        <li>
                            <button class="btn2">FAVOURITE</button>
                        </li>
                        <li>
                            <button class="btn2">NOTIFIKASI</button>
                        </li>
                        <li>
                            <button class="btn2">SETTING</button>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        <div class="content">
            <p>Edit Resep</p>
            <br />
            <hr />
            <br />
            <div class="edit">
                <a href="" class="name">Sushi</a>

                <a href="" class="edit">Edit</a>

                <a href="" class="del">Delete</a>
            </div>
            <br />

            <hr />
        </div>

        <div class="content">
            <br />
            <div class="edit">
                <a href="" class="name2">Sashimi</a>

                <a href="" class="edit2">Edit</a>

                <a href="" class="del">Delete</a>
            </div>
            <br />

            <hr />
        </div>

        <div class="content">
            <br />
            <div class="edit">
                <a href="" class="name3">Mendoan</a>

                <a href="" class="edit3">Edit</a>

                <a href="" class="del">Delete</a>
            </div>
            <br />
            <hr />
        </div>

        <div class="content">
            <br />
            <div class="edit">
                <a href="" class="name4">Udon</a>

                <a href="" class="edit4">Edit</a>

                <a href="" class="del">Delete</a>
            </div>
            <br />
            <hr />
        </div>
    </body>
</html>
