<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Edit Resep Upload</title>
        <link rel="stylesheet" href="editresep-upload.css" />
    </head>
    <body>
        <header>
            <div class="container">
                <div class="logo">
                    <img
                        class="logo-img"
                        src="C:\Users\Asus\Downloads\The-Cookers\resources\views\home\home\img\logo.png"
                        alt=""
                    />
                </div>
                <nav>
                    <input type="checkbox" id="menu-toggle" />
                    <label for="menu-toggle" class="menu-icon">&#9776;</label>
                    <ul class="menu">
                        <li><a href="#">HOME</a></li>
                        <li><a href="#">RECEIPT</a></li>
                        <li>
                            <button class="btn">UPLOAD RECEIPT</button>
                        </li>
                        <li>
                            <button class="btn">PROFILE</button>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>

        <br />

        <div class="page active" id="page1">
            <div class="content">
                <h3>EDIT RESEP KAMU</h3>
                <div class="box">
                    <div class="img-upload">
                        <img
                            class="image"
                            src="C:\Users\Asus\Downloads\The-Cookers\public\assets\upload.png"
                            alt=""
                        />
                    </div>

                    <br />

                    <form id="uploadForm" enctype="multipart/form-data">
                        <input type="file" id="photoInput" accept="image/*" />
                        <button class="upload" type="submit">
                            Upload Image
                        </button>
                    </form>
                </div>

                <br />
                <div class="button-prevnext">
                    <div class="button-container">
                        <button onclick="goToPage('page0')">Previous</button>
                    </div>

                    <div class="button-container">
                        <button onclick="goToPage('page2')">Next</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="page" id="page2">
            <div class="content">
                <h3>EDIT RESEP KAMU</h3>
                <div class="box">
                    <div class="gallery" id="photoGallery"></div>

                    <br>

                    <form id="inputForm" onsubmit="event.preventDefault(); displayResult();">
                        <div class="input-container">
                          <label for="nameInput">Nama Resep</label>
                          <input type="text" id="nameInput" placeholder="Masukkan Nama Resep" />
                        </div>
                
                        <div class="input-container">
                            <label for="paragraphInput">Deskripsi Resep</label>
                            <textarea id="paragraphInput" placeholder="Masukkan Deskripsi Resep"></textarea>
                        </div>

                        <div class="input-container">
                            <label for="numberInput">Waktu Memasak</label>
                            <input type="number" id="numberInput" placeholder="Masukkan Waktu Memasak" />
                            <label for="">(Menit)</label>
                        </div>
                  
                        <div class="input-container">
                            <label for="numberInput">Jumlah Porsi</label>
                            <input type="number" id="numberInput" placeholder="Masukkan Jumlah Porsi" />
                        </div>

                        <div class="input-container">
                            <label for="linkInput">Link Video Youtube</label>
                            <input type="url" id="linkInput" placeholder="Masukkan Link Youtube" />
                        </div>

                        <div class="button-container">
                            <button type="submit">Kirim</button>
                        </div>
                </div>

                <div class="button-prevnext">
                    <div class="button-container">
                        <button onclick="goToPage('page1')">Previous</button>
                    </div>

                    <div class="button-container">
                        <button onclick="goToPage('page3')">Next</button>
                    </div>
                </div>

                <br />
            </div>
        </div>

        <script src="editresep-upload.js"></script>
    </body>
</html>
